<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcademiaDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AcademiaDesktop.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>(empty)
</value>
            </setting>
            <setting name="IdPersona" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdPlan" serializeAs="String">
                <value>0</value>
            </setting>
        </AcademiaDesktop.Properties.Settings>
    </userSettings>
</configuration>