USE [master]
GO
/****** Object:  Database [AcademiaNet]    Script Date: 18/12/2024 12:36:08 ******/
CREATE DATABASE [AcademiaNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcademiaNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\AcademiaNet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcademiaNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\AcademiaNet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcademiaNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcademiaNet]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnoInscripcion]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoInscripcion](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[condicion] [nvarchar](50) NOT NULL,
	[nota] [nvarchar](50) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
 CONSTRAINT [PK_AlumnoInscripcion] PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comision]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comision](
	[IdComision] [int] IDENTITY(1,1) NOT NULL,
	[DescComision] [nvarchar](255) NOT NULL,
	[IdPlan] [int] NOT NULL,
 CONSTRAINT [PK_Comision] PRIMARY KEY CLUSTERED 
(
	[IdComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [int] IDENTITY(1,1) NOT NULL,
	[IdMateria] [int] NOT NULL,
	[IdComision] [int] NOT NULL,
	[AnioCalendario] [int] NOT NULL,
	[cupo] [int] NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocenteCurso]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocenteCurso](
	[IdDictado] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [nvarchar](255) NOT NULL,
	[IdCurso] [int] NOT NULL,
	[IdPersona] [int] NOT NULL,
 CONSTRAINT [PK_DocenteCurso] PRIMARY KEY CLUSTERED 
(
	[IdDictado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[DescEspecialidad] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[DescMateria] [nvarchar](255) NOT NULL,
	[HsSemanales] [int] NOT NULL,
	[HsTotales] [int] NOT NULL,
	[IdPlan] [int] NOT NULL,
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Legajo] [nvarchar](20) NOT NULL,
	[Clave] [nvarchar](256) NOT NULL,
	[IdPlan] [int] NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 18/12/2024 12:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[IdPlan] [int] IDENTITY(1,1) NOT NULL,
	[DescPlan] [nvarchar](255) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoInscripcion_IdCurso]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoInscripcion_IdCurso] ON [dbo].[AlumnoInscripcion]
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AlumnoInscripcion_IdPersona]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_AlumnoInscripcion_IdPersona] ON [dbo].[AlumnoInscripcion]
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comision_IdPlan]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Comision_IdPlan] ON [dbo].[Comision]
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Curso_IdComision]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Curso_IdComision] ON [dbo].[Curso]
(
	[IdComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Curso_IdMateria]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Curso_IdMateria] ON [dbo].[Curso]
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocenteCurso_IdCurso]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_DocenteCurso_IdCurso] ON [dbo].[DocenteCurso]
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocenteCurso_IdPersona]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_DocenteCurso_IdPersona] ON [dbo].[DocenteCurso]
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materia_IdPlan]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Materia_IdPlan] ON [dbo].[Materia]
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Persona_IdPlan]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Persona_IdPlan] ON [dbo].[Persona]
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plan_IdEspecialidad]    Script Date: 18/12/2024 12:36:09 ******/
CREATE NONCLUSTERED INDEX [IX_Plan_IdEspecialidad] ON [dbo].[Plan]
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlumnoInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoInscripcion_Curso_IdCurso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[AlumnoInscripcion] CHECK CONSTRAINT [FK_AlumnoInscripcion_Curso_IdCurso]
GO
ALTER TABLE [dbo].[AlumnoInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_AlumnoInscripcion_Persona_IdPersona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[AlumnoInscripcion] CHECK CONSTRAINT [FK_AlumnoInscripcion_Persona_IdPersona]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD  CONSTRAINT [FK_Comision_Plan_IdPlan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[Plan] ([IdPlan])
GO
ALTER TABLE [dbo].[Comision] CHECK CONSTRAINT [FK_Comision_Plan_IdPlan]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Comision_IdComision] FOREIGN KEY([IdComision])
REFERENCES [dbo].[Comision] ([IdComision])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Comision_IdComision]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Materia_IdMateria] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materia] ([IdMateria])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Materia_IdMateria]
GO
ALTER TABLE [dbo].[DocenteCurso]  WITH CHECK ADD  CONSTRAINT [FK_DocenteCurso_Curso_IdCurso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[DocenteCurso] CHECK CONSTRAINT [FK_DocenteCurso_Curso_IdCurso]
GO
ALTER TABLE [dbo].[DocenteCurso]  WITH CHECK ADD  CONSTRAINT [FK_DocenteCurso_Persona_IdPersona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[DocenteCurso] CHECK CONSTRAINT [FK_DocenteCurso_Persona_IdPersona]
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD  CONSTRAINT [FK_Materia_Plan_IdPlan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[Plan] ([IdPlan])
GO
ALTER TABLE [dbo].[Materia] CHECK CONSTRAINT [FK_Materia_Plan_IdPlan]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Plan_IdPlan] FOREIGN KEY([IdPlan])
REFERENCES [dbo].[Plan] ([IdPlan])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Plan_IdPlan]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Especialidad_IdEspecialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Especialidad_IdEspecialidad]
GO
USE [master]
GO
